.button {
  padding-top: 4px;
  padding-left: 6px;
  padding-bottom: 4px;
  padding-right: 6px;
  background-color: blue;
  height: 5;
  color: white;
  border-radius: 5px;
}

.button:hover {
  background-color: darkblue;
}

.button:active {
  background-color: black;
}
