
.primary {
  padding-top: 4px;
  padding-left: 6px;
  padding-bottom: 4px;
  padding-right: 6px;
  background-color: blue;
  height: 5;
  color: white;
  border-radius: 5px;
}

.primary:hover {
  background-color: darkblue;
}

.primary:active {
  background-color: black;
}

.secondary {
  padding-top: 4px;
  padding-left: 6px;
  padding-bottom: 4px;
  padding-right: 6px;
  background-color: gray;
  height: 5;
  color: white;
  border-radius: 5px;
}

.secondary:hover {
  background-color: rgb(88, 88, 88);
}

.secondary:active {
  background-color: gray;
}

.primary_uo {
  padding-top: 4px;
  padding-left: 6px;
  padding-bottom: 4px;
  padding-right: 6px;
  height: 5;
  background-color: white;
  color: blue;
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
}

.primary_uo:hover {
  background-color: blue;
  color: white;

}

.primary_uo:active {
  background-color: darkblue;
}
