<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <span> tags look like buttons of various colors -->

<p>
  <span class="primary">
  Primary
  </span>
</p>

<p>
  <span class="secondary">Secondary</span>
</p>

<p>
  <span>Success</span>
</p>

<p>
  <span>Danger</span>
</p>

<p>
  <span>Warning</span>
</p>

<p>
  <span>Info</span>
</p>


<p>Less intrusive variants:</p>

<p>
  <span class="primary_uo">Primary (unobtrusive)</span>
</p>

<p>
  <span>Secondary (unobtrusive)</span>
</p>

<p>
  <span>Success (unobtrusive)</span>
</p>

<p>
  <span>Danger (unobtrusive)</span>
</p>

<p>
  <span>Warning (unobtrusive)</span>
</p>

<p>
  <span>Info (unobtrusive)</span>
</p>
